body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
    padding-top: 80px;
}

.container {
    width: 450px;
    margin: auto;
    background:powderblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px gray;
}
button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: lightpink;
}

select {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: lightpink;
}